<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">

<head>
<meta charset="UTF-8" />
<title>Fotografia</title>
<meta name="description" content="fotografia" />
<meta name="author" content="Andrea De Sanctis, Michele Capezzani" />
<link href="../static/css/fotografia.css"
	th:href="@{/css/fotografia.css}" rel="stylesheet" />
<!-- <link rel="stylesheet" href="css/funzionario.css" /> -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700'
	rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300'
	rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
	<header>
		<a th:href="@{/}"> <img th:src="@{~/resources/static/images/logo2.jpg}" alt="logo sito">
		</a>
		<h1>
			<a th:href="@{/}">Silph Srl</a>
		</h1>
		<div class="login">
			<a th:href="@{/login}">Login</a>
		</div>
		<div class="signup">
			<a th:href="@{/addFunzionario}">Signup</a>
		</div>
	</header>
	<div class="sottotitolo">
		<h4>Fotografia:</h4>
	</div>
	<div>
		<div class="dati">
			<h2>
				Nome: <span th:text="${fotografia.nome}">qui-va-nome</span> <br>
				Categoria: <span th:text="${fotografia.categoria}">qui-va-categoria</span>
			</h2>
		</div>
	</div>

	<div class="fotografia">
		<a> <img th:src="@{'/static/images/' + ${fotografia.nome} + '.jpg'}"
			alt="fotografia">
		</a>
	</div>

</body>
</html>