<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html" lang="it">

<head>
<meta charset="UTF-8" />
<title>Funzionari</title>
<meta name="description" content="funzionari" />
<meta name="author" content="Andrea De Sanctis, Michele Capezzani" />
<link href="../static/css/funzionari.css"
	th:href="@{/css/funzionari.css}" rel="stylesheet" />
<!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700'
	rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300'
	rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="images/logo2.ico" />
</head>
<body>
	<header>
		<a th:href="@{/}"> <img src="images/logo2.jpg" alt="logo sito">
		</a>
		<h1>
			<a th:href="@{/}">Silph Srl</a>
		</h1>

	</header>

	<div>
		<h4>Lista funzionari</h4>
	</div>

	<ul>
		<li th:each="funzionario : ${funzionari}"><a
			th:href="@{'/funzionario' + '/' + ${funzionario.id}}"
			th:text="${funzionario.nome}"> qui-va-nome </a></li>
	</ul>


</body>
</html>