<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<link rel="stylesheet" href="css/funzionari.css" />
<meta charset="ISO-8859-1" />
<title>Funzionari</title>
</head>
<body>
	<header>
		<a th:href="@{/}"> <img src="images/logo2.jpg" alt="logo sito">
		</a>
		<h1>
			<a th:href="@{/}">Silph Srl</a>
		</h1>
		
	</header>
	
	<div>
		<h4>Lista funzionari</h4>
	</div>

	<ul>
		<li th:each="funzionario: ${funzionari}"><a
			th:href="@{'/funzionario' + '/' + ${funzionario.id}}"
			th:text="${funionario.nome}"> paolo </a>
	</ul>


</body>
</html>