<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">

<head>
<meta charset="UTF-8" />
<title>Richieste</title>
<meta name="description" content="album" />
<meta name="author" content="Andrea De Sanctis, Michele Capezzani" />
<link href="../static/css/richieste.css" th:href="@{/css/richieste.css}"
	rel="stylesheet" />
<!-- <link rel="stylesheet" type="text/css" href="css/album.css" /> -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700'
	rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300'
	rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="images/logo2.ico" />
</head>

<body>
	<section>
		<header>
			<a th:href="@{/}"> <img src="images/logo2.jpg" alt="logo sito">
			</a>
			<h1>
				<a th:href="@{/}">Silph Srl</a>
			</h1>
			<div class="login">
				<a th:href="@{/login}">Login</a>
			</div>
			<div class="signup">
				<a th:href="@{/addFunzionario}">Signup</a>
			</div>
		</header>

		<div class="sottotitolo">
			<h2>Le richieste in corso:</h2>
		</div>
		
		<div>
		<ul class="list">
			<li class="elenco"
				th:each="richiesta : ${richieste}"><a
				th:href="@{'/richiesta' + '/' + ${richiesta.id}}"
				th:text="${richiesta.nome}"> qui-va-nome </a>
		</ul>
		</div>
	</section>
</body>

</html>